<div class="wrapper">

    {menu}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-title">
                            <h3 class="m-b-xs">Dashboard</h3>
                            <small>The admin dashboard contains various statistics and tools to help you manage and monitor the ezXSS platform.</small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div id="alert"></div>
                </div>

                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" id="total">
                                <div class="loader"></div>
                            </h2>
                            <div class="small">reports</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" id="week">
                                <div class="loader"></div>
                            </h2>
                            <div class="small">reports last week</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" id="last">
                                <div class="loader"></div>
                            </h2>
                            <div class="small">last report</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" id="totaldomains">
                                <div class="loader"></div>
                            </h2>
                            <div class="small">report domains</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" id="weekdomains">
                                <div class="loader"></div>
                            </h2>
                            <div class="small">domains last week</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" id="collected">
                                <div class="loader"></div>
                            </h2>
                            <div class="small">collected pages</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" id="sessionrequests">
                                <div class="loader"></div>
                            </h2>
                            <div class="small">session requests</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" id="sessionclients">
                                <div class="loader"></div>
                            </h2>
                            <div class="small">session clients</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" id="lastclient">
                                <div class="loader"></div>
                            </h2>
                            <div class="small">last client online</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" id="totalsessiondomains">
                                <div class="loader"></div>
                            </h2>
                            <div class="small">session domains</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" id="weekrequests">
                                <div class="loader"></div>
                            </h2>
                            <div class="small">requests last week</div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" id="weekclients">
                                <div class="loader"></div>
                            </h2>
                            <div class="small">clients last week</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-xs-12">
                    <div class="panel panel-filled">
                        <div class="panel-heading">Most common<select class="common-selectbox" id="pick_common1">
                                <option {%data common_1_1} value="1">Origins</option>
                                <option {%data common_1_2} value="2">IPs</option>
                                <option {%data common_1_3} value="3">Cookies</option>
                                <option {%data common_1_4} value="4">User-Agents</option>
                                <option {%data common_1_5} value="5">Payloads</option>
                            </select></div>
                        <div class="panel-body">
                            <table class="table fixed-layout">
                                <thead>
                                    <tr id="toprow_common1">
                                        <th class="toprow-value">Value</th>
                                        <th class="toprow-count">X</th>
                                    </tr>
                                </thead>
                                <div id="loading_common1"><br>
                                    <center>
                                        <div class="loader"></div>
                                    </center>
                                </div>
                                <tbody id="most_common1">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-12">
                    <div class="panel panel-filled">
                        <div class="panel-heading">Most common<select class="common-selectbox" id="pick_common2">
                                <option {%data common_2_1} value="1">Origins</option>
                                <option {%data common_2_2} value="2">IPs</option>
                                <option {%data common_2_3} value="3">Cookies</option>
                                <option {%data common_2_4} value="4">User-Agents</option>
                                <option {%data common_2_5} value="5">Payloads</option>
                            </select></div>
                        <div class="panel-body">
                            <table class="table fixed-layout">
                                <thead>
                                    <tr id="toprow_common2">
                                        <th class="toprow-value">Value</th>
                                        <th class="toprow-count">X</th>
                                    </tr>
                                </thead>
                                <div id="loading_common2"><br>
                                    <center>
                                        <div class="loader"></div>
                                    </center>
                                </div>
                                <tbody id="most_common2">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="panel panel-filled version-banner">
                        <div class="panel-heading">Version Status</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label" for="version">Your version</label>
                                <input class="form-control" disabled id="version" value="v{version[]}">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="changelog">Changelog of v{%data repoVersion} (latest release)</label>
                                <textarea class="form-control" disabled id="changelog" rows=13>{%data repoBody}</textarea>
                            </div>
                            <a class="btn" href="{%data repoUrl}">Download v{%data repoVersion}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>