# Database settings for ezXSS
dbHost="ezxssdb"
dbUser=ezxss
dbPassword=changeme
dbName=database
dbPort=3306

# ezXSS app settings
debug=false
httpmode=false
signupEnabled=false

# Docker settings
dockerHttpPort=80
dockerHttpsPort=443
useMailAlerts=true
autoInstallCertificate=true
domain=example.ezxss.com

# ezProxy settings
prHost=0.0.0.0
prWebPort=30055
prProxyPort=13000
prCertFile=/home/ezxss/domains/example.com/ssl.cert
prKeyFile=/home/ezxss/domains/example.com/ssl.key
prUseLogin=false
prUser=ezxss
prPassword=ezxss
