Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "GET, POST"

Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_URI} !assets
RewriteRule ^(.*)$ init.php [L]
