<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ezXSS ~ {{name}}</title>
    <link rel="stylesheet" type="text/css" href="https://ssl.github.io/cdn/ezXSS/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://ssl.github.io/cdn/ezXSS/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://ssl.github.io/cdn/ezXSS/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://ssl.github.io/cdn/ezXSS/css/main.css">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    {{template}}
  </body>
  <script src="https://ssl.github.io/cdn/ezXSS/js/jquery.js" charset="utf-8"></script>
  <script src="https://ssl.github.io/cdn/ezXSS/js/bootstrap.js"></script>
  <script src="assets/js/ezxss.js" charset="utf-8"></script>
</html>
