<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ezXSS ~ {{name}}</title>
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  </head>
  <body>
    {{template}}
  </body>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" charset="utf-8"></script>
  <script src="assets/js/ezxss.js" charset="utf-8"></script>
</html>
