<div class="navbar-header">
  <div id="mobile-menu">
    <div class="left-nav-toggle"><a href="#"><i class="fa fa-bars"></i></a></div>
  </div>
</div>

<aside class="navigation">
  <nav>
    <ul class="nav ezxss-nav">

      <li class="nav-info">
        <i class="pe pe-7s-shield text-accent"></i>
        <div class="m-t-xs"><span class="c-white">ezXSS v2.3</span> github.com/ssl/ezxss</div>
      </li>

      <li class="nav-category">Main</li>
      <li><a href="dashboard">Dashboard</a></li>
      <li><a href="settings">Settings</a></li>
      <li><a href="payload">Payload</a></li>

      <li class="nav-category">Reports</li>
      <li><a href="reports">Reports</a></li>
      <li><a href="archive">Archived reports</a></li>
    </ul>
  </nav>
</aside>
