<div class="wrapper">

    {menu}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-title">
                            <h3 class="m-b-xs">Payload</h3>
                            <small>The payloads page lets you customize your payload settings, including extracting additional pages and managing white/blacklisted domains. Use it to edit what information your payloads collect.</small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="alert" role="alert">You don't have any payloads yet. Ask your ezXSS administrator for
                        your first payload.</div>
                </div>
            </div>
        </div>
    </section>
</div>