<div class="wrapper">

    {menu}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-title">
                            <h3 class="m-b-xs">Settings</h3>
                            <small>...</small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            {message}

            <div class="row">

                <div class="col-lg-6">
                    <div class="panel panel-filled">
                        <div class="panel-heading">Application settings</div>
                        <div class="panel-body">
                            <form class="form" method="post">
                                <input type=hidden hidden name="csrf" value="{session[csrfToken]}">
                                <div class="form-group">
                                    <label class="control-label" for="timezone">Timezone</label>
                                    <select class="form-control" id="timezone" name="timezone">
                                        {%foreach timezone}
                                            {timezone->html}
                                        {%/foreach}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="theme">Theme</label>
                                    <select class="form-control" id="theme" name="theme">
                                        {%foreach theme}
                                            {theme->html}
                                        {%/foreach}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="filter">On callback if report is duplicate</label>
                                    <select class="form-control" id="filter" name="filter">
                                        <option {%data filter1} value="1">Both save report and send alert</option>
                                        <option {%data filter2} value="2">Only save report</option>
                                        <option {%data filter3} value="3">Only send alert</option>
                                        <option {%data filter4} value="4">Don't save report or send alert</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="dompart">Max DOM length in alerts</label>
                                    <input class="form-control" id="dompart" name="dompart" type="text"
                                        value="{%data dompart}">
                                </div>
                                <button type="submit" class="btn">Save</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">

                    <!-- todo: settings like alerts -->

                    <div class="panel panel-filled">
                        <div class="panel-heading">Kill Switch</div>
                        <div class="panel-body">
                            <p>Completely kills the platform. Can be reverted by visiting https://{domain[]}/?pass=...
                            </p>
                            <form class="form" id="killswitch" method="post">
                                <div class="form-group">
                                    <label class="control-label" for="pass">Password to revert</label>
                                    <input class="form-control" id="pass" name="pass" type="text">
                                </div>
                                <button type="submit" class="btn">Kill</button>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
</div>