<section id="content">
    <h1>ezXSS Install</h1>
    <div class="login">
        <form class="form" id="install" method="post">
            <div id="alert"></div>
            {{csrf[]}}
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password">
            </div>
            <div class="form-group">
                <label class="control-label" for="Email">Email</label>
                <input class="form-control" id="email" name="email" type="email">
            </div>
            <button class="btn">Install</button>
        </form>
    </div>
</section>
