<div class="wrapper">

  {{menu}}

  <section class="content">
    <div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="view-header">
              <div class="header-title" style="float:left;">
                <h3 class="m-b-xs">View report</h3>
                <small>View all information about a report.</small>
              </div>
              <div class="search hidden-xs" style="margin-top: 15px;width: 345px;float:right;">
                {{searchBar[]}}
              </div>
            </div>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-filled">
              <div class="panel-heading">Information</div>
              <div class="panel-body">
                <div>
                  <table class="table report">
                    <thead>
                        <tr><td width=150px>URL</td><td>{{report[uri]}}</td></tr>
                        <tr><td>IP</td><td>{{report[ip]}}</td></tr>
                        <tr><td>Referer</td><td>{{report[referer]}}</td></tr>
                        <tr><td>User Agent</td><td>{{report[user-agent]}}</td></tr>
                        <tr><td>Cookies</td><td>{{report[cookies]}}</td></tr>
                        <tr><td>Local Storage</td><td>{{report[localstorage]}}</td></tr>
                        <tr><td>Session Storage</td><td>{{report[sessionstorage]}}</td></tr>
                        <tr><td>DOM</td><td style="padding-right:0px"><textarea spellcheck=false>{{report[dom]}}</textarea></td></tr>
                        <tr><td>Origin</td><td>{{report[origin]}}</td></tr>
                        <tr><td>Time</td><td>{{report[time]}}</td></tr>
                        <tr><td>Screenshot</td><td><img src="/assets/img/report-{{report[screenshot]}}.png" onerror="this.parentElement.innerHTML = '';"></td></tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
