<div class="wrapper">

    {{menu}}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-title">
                            <h3 class="m-b-xs">Settings</h3>
                            <small>Change your settings, password and 2FA login. Visit the <a href="https://github.com/ssl/ezXSS/wiki"
                                                                                              target=_blank>wiki</a>
                                for documentation.</small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-12">
                    <div id="alert"></div>
                </div>

                <div class="col-lg-6">
                    <div class="panel panel-filled">
                        <div class="panel-heading">Application settings</div>
                        <div class="panel-body">
                            <form class="form" id="main-settings">
                                <div class="form-group">
                                    <label class="control-label" for="timezone">Timezone</label>
                                    {{timezones[]}}
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="theme">Theme</label>
                                    {{themes[]}}
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="adminurl">Admin URL</label>
                                    <input class="form-control" id="adminurl" name="adminurl" type="text"
                                           value="{{adminURL[]}}">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="filter">On callback if report is duplicate</label>
                                    <select class="form-control" id="filter">
                                        <option value="1" {{filterSelected[1]}}>Both save report and send alert</option>
                                        <option value="2" {{filterSelected[2]}}>Only save report</option>
                                        <option value="3" {{filterSelected[3]}}>Only send alert</option>
                                        <option value="4" {{filterSelected[4]}}>Don't save report or send alert</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="dompart">DOM Length in email or Telegram
                                        alert</label>
                                    <input class="form-control" id="dompart" name="dompart" type="text"
                                           value="{{setting[dompart]}}">
                                </div>
                                <button class="btn">Save</button>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-filled">
                        <div class="panel-heading">Password settings</div>
                        <div class="panel-body">
                            <form class="form" id="password-settings" method="post">
                                <div class="form-group">
                                    <label class="control-label" for="password">Old password</label>
                                    <input class="form-control" id="password" name="password" type="password">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="newpassword">New password</label>
                                    <input class="form-control" id="newpassword" name="newpassword" type="password">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="newpassword2">Re-enter new password</label>
                                    <input class="form-control" id="newpassword2" name="newpassword2" type="password">
                                </div>
                                <button class="btn">Save</button>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-filled">
                        <div class="panel-heading">2FA login</div>
                        <div class="panel-body">
                            <p>You can activate Google Authenticator 2FA for extra protection or disable it.</p>
                            <form class="form" id="twofactor-settings" method="post">
                                {{twofactorSettings[]}}
                            </form>
                        </div>
                    </div>


                </div>

                <div class="col-lg-6">



                    <div class="panel panel-filled">
                        <div class="panel-heading">E-mail alert settings</div>
                        <div class="panel-body">
                            <form class="form" id="email-alert-settings">
                                <label class="checkbox-label" style="display:inline">
                                    <input class="chkbox" id="mailon" name="selected" type="checkbox"
                                           {{alertTypeSelected[mail]}}>
                                    <span class="checkbox-custom rectangular"></span>
                                </label>
                                <p class="checkbox-text" style="padding-bottom: 5px;">Send alert via email</p>
                                <div class="form-group">
                                    <label class="control-label" for="email">Email sends to</label>
                                    <input class="form-control" id="email" name="email" type="email"
                                           value="{{setting[email]}}">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="emailfrom">Email sends from</label>
                                    <input class="form-control" id="emailfrom" name="emailfrom" type="text"
                                           value="{{setting[emailfrom]}}">
                                </div>
                                <button class="btn">Save</button>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-filled">
                        <div class="panel-heading">Telegram alert settings</div>
                        <div class="panel-body">
                            <form class="form" id="telegram-alert-settings">
                                <label class="checkbox-label" style="display:inline">
                                    <input class="chkbox" id="telegramon" name="selected" type="checkbox"
                                           {{alertTypeSelected[telegram]}}>
                                    <span class="checkbox-custom rectangular"></span>
                                </label>
                                <p class="checkbox-text" style="padding-bottom: 5px;">Send alert via Telegram</p>
                                <div class="form-group">
                                    <label class="control-label" for="telegram_bottoken">Bot Token</label>
                                    <div class="input-group">
                                        <input class="form-control" id="telegram_bottoken" name="telegram_bottoken"
                                               placeholder="1234567890:AAbcd1234qZylg5bEzXsSjCGqro_Vb8XcM"
                                               type="text"
                                               value="{{setting[telegram-bottoken]}}">
                                        <span class="input-group-addon"><a id="openGetChatId" style="cursor:pointer">get Chat ID</a></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="telegram_chatid">Chat ID</label>
                                    <input class="form-control" id="telegram_chatid" name="telegram_chatid" placeholder="123456789"
                                           type="text" value="{{setting[telegram-chatid]}}">
                                </div>
                                <button class="btn">Save</button>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-filled">
                        <div class="panel-heading">Callback alert settings</div>
                        <div class="panel-body">
                            <form class="form" id="callback-alert-settings">
                                <label class="checkbox-label" style="display:inline">
                                    <input class="chkbox" id="callbackon" name="selected" type="checkbox"
                                           {{alertTypeSelected[callback]}}>
                                    <span class="checkbox-custom rectangular"></span>
                                </label>
                                <p class="checkbox-text" style="padding-bottom: 5px;">Send alert to callback</p>
                                <div class="form-group">
                                    <label class="control-label" for="callback_url">Callback url</label>
                                    <input class="form-control" id="callback_url" name="callback_url" placeholder="https://example.com/callback.php"
                                           type="text"
                                           value="{{setting[callback-url]}}">
                                </div>
                                <button class="btn">Save</button>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-filled">
                        <div class="panel-heading">Kill Switch</div>
                        <div class="panel-body">
                            <p>Completely kills the platform. Can be reverted by visiting
                                https://{{domain[]}}/?pass=...</p>
                            <form class="form" id="killswitch" method="post">
                                <div class="form-group">
                                    <label class="control-label" for="pass">Password to revert</label>
                                    <input class="form-control" id="pass" name="pass" type="text">
                                </div>
                                <button class="btn">Kill</button>
                            </form>
                        </div>
                    </div>


                </div>

                <div class="col-lg-6">

                </div>
            </div>
            <div class="row"></div>
        </div>
    </section>

    <div class="modal fade" id="openQRcode" role="dialog">
        <div class="modal-dialog" style="width:430px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h3 class="m-b-xs">Twofactor QR code</h3>
                    <small>Scan this code in your 2FA app</small>
                </div>
                <div class="modal-body">
                    <img src="https://chart.googleapis.com/chart?chs=400x400&chld=M|0&cht=qr&chl=otpauth://totp/ezXSS:ezXSS%3Fsecret%3D{{setting[temp-secret]}}%26issuer%3DezXSS">
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="getChatId" role="dialog">
        <div class="modal-dialog" style="width:430px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h3 class="m-b-xs">Get Telegram Chat ID</h3>
                    <small>Start an chat with your bot to get chat id</small>
                </div>
                <div class="modal-body" id="getChatIdBody">
                    Loading...
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
