<div class="wrapper">

  {{menu}}

  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="view-header">
              <div class="header-title">
                <h3 class="m-b-xs">Dashboard</h3>
                <small>Statistics of your ezXSS</small>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-12"><div id="alert"></div></div>

          <div class="col-lg-2 col-xs-6">
            <div class="panel panel-filled">
              <div class="panel-body">
                <h2 class="m-b-none">{{stats[total]}}</h2>
                <div class="small">Total reports</div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-xs-6">
            <div class="panel panel-filled">
              <div class="panel-body">
                <h2 class="m-b-none">{{stats[week]}}</h2>
                <div class="small">Reports this week</div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-xs-6">
            <div class="panel panel-filled">
              <div class="panel-body">
                <h2 class="m-b-none">{{stats[last]}}</h2>
                <div class="small">Last report</div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-xs-6">
            <div class="panel panel-filled">
              <div class="panel-body">
                <h2 class="m-b-none">{{stats[totaldomains]}}</h2>
                <div class="small">Total domains</div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-xs-6">
            <div class="panel panel-filled">
              <div class="panel-body">
                <h2 class="m-b-none">{{stats[weekdomains]}}</h2>
                <div class="small">Domains this week</div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-xs-6">
            <div class="panel panel-filled">
              <div class="panel-body">
                <h2 class="m-b-none">{{stats[totalshared]}}</h2>
                <div class="small">Total shared with you</div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="panel panel-filled">
              <div class="panel-heading">Current status</div>
              <div class="panel-body">
                <div class="form-group">
                  <label class="control-label">Your version</label>
                  <input value="v2.2" disabled class="form-control">
                </div>
                <div class="form-group">
                  <label class="control-label">Latests version</label>
                  <input value="v{{updateStatus[tag_name]}}" disabled class="form-control">
                </div>
                <div class="form-group">
                  <label class="control-label">Update log of latests version</label>
                  <textarea disabled class="form-control" rows=5>{{updateStatus[body]}}</textarea>
                </div>
                <a class="btn" href="{{updateStatus[zipball_url]}}">Download v{{updateStatus[tag_name]}}</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="panel panel-filled">
              <div class="panel-heading">Notepad</div>
              <div class="panel-body">
                <p>Here you can save some things for later, like a report id or a custom js.</p>
                <form class="form" id="notepad-settings">
                  <div class="form-group">
                    {{csrf[]}}
                    <label class="control-label" for="notepad">Notepad</label>
                    <textarea class="form-control" name="notepad" id="notepad" rows=10>{{settings[notepad]}}</textarea>
                  </div>
                  <button class="btn">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>
