<div class="wrapper">

  {{menu}}

  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="view-header">
              <div class="header-icon"><i class="fa fa-industry"> </i></div>
              <div class="header-title">
                <h3 class="m-b-xs">Dashboard</h3>
                <small>Statistics of your ezXSS</small>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-12"><div id="alert"></div></div>

          <div class="col-lg-2 col-xs-6">
            <div class="panel panel-filled">
              <div class="panel-body">
                <h2 class="m-b-none">{{stats[total]}}</h2>
                <div class="small">Total reports</div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-xs-6">
            <div class="panel panel-filled">
              <div class="panel-body">
                <h2 class="m-b-none">{{stats[week]}}</h2>
                <div class="small">Reports this week</div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-xs-6">
            <div class="panel panel-filled">
              <div class="panel-body">
                <h2 class="m-b-none">{{stats[last]}}</h2>
                <div class="small">Last report</div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-xs-6">
            <div class="panel panel-filled">
              <div class="panel-body">
                <h2 class="m-b-none">{{stats[totaldomains]}}</h2>
                <div class="small">Total domains</div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-xs-6">
            <div class="panel panel-filled">
              <div class="panel-body">
                <h2 class="m-b-none">{{stats[weekdomains]}}</h2>
                <div class="small">Domains this week</div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-xs-6">
            <div class="panel panel-filled">
              <div class="panel-body">
                <h2 class="m-b-none">{{stats[totalshared]}}</h2>
                <div class="small">Total shared with you</div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="panel panel-filled">
              <div class="panel-heading">Current status</div>
              <div class="panel-body">
                {{updateStatus[]}}
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="panel panel-filled">
              <div class="panel-heading">Filters</div>
              <div class="panel-body">
                <p>You can stop a double report from saving or alerting. If all information in report is the same it will ignore it.</p>
                <form class="form" id="filter-settings">
                  <div class="form-group">
                    {{csrf[]}}
                    <label class="control-label" for="save">Save report</label>
                    <input type="text" name="save" id="save" value="{{settings[filter-save]}}" class="form-control">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="alert">Email alert</label>
                    <input type="text" name="alert" id="emailalert" value="{{settings[filter-alert]}}" class="form-control">
                  </div>
                  <button class="btn">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>
