<div class="wrapper">

  {{menu}}

  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="view-header">
              <div class="header-icon"><i class="fa fa-filter"> </i></div>
              <div class="header-title">
                <h3 class="m-b-xs">Filters</h3>
                <small>Add some filters for your callback!</small>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-12"><div id="alert"></div></div>

          <!--
          Maybe soon?
          <div class="col-lg-6">
            <div class="panel panel-filled">
              <div class="panel-heading">Domain report filter</div>
              <div class="panel-body">
                <p>If a callback is coming from a domain in this list, it will not safe to the database or alert you.</p>
                <form class="form" id="filter-domain">
                  <div class="form-group">
                    {{csrf[]}}
                    <label class="control-label" for="domain">Domain</label>
                    <input type="text" name="domain" id="email" value="" class="form-control">
                  </div>
                  <button class="btn">Save</button>
                </form>
              </div>
            </div>
          </div>-->

          <div class="col-lg-6">
            <div class="panel panel-filled">
              <div class="panel-heading">Stop double reports</div>
              <div class="panel-body">
                <p>You can stop a double report from saving or alerting. If all information in report is the same it will ignore it.</p>
                <form class="form" id="filter-settings">
                  <div class="form-group">
                    {{csrf[]}}
                    <label class="control-label" for="save">Save report</label>
                    <input type="text" name="save" id="save" value="{{settings[filter-save]}}" class="form-control">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="alert">Email alert</label>
                    <input type="text" name="alert" id="alert" value="{{settings[filter-alert]}}" class="form-control">
                  </div>
                  <button class="btn">Save</button>
                </form>
              </div>
            </div>
          </div>


        </div>

      </div>
  </section>
</div>
