<div class="wrapper">

  {{menu}}

  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="view-header">
              <div class="header-title" style="float:left;">
                <h3 class="m-b-xs">All reports</h3>
                <small>View all reports, search for reports and share or delete them.</small>
              </div>
              <div class="search hidden-xs" style="margin-top: 15px;width: 345px;float:right;">
                <form method="get">
                  <input type="text" value="{{get[search]}}" name="search" placeholder="Search for domain, IP or ID" class="form-control" style="float: left;width: 260px;">
                  <button type="submit" class="btn" style="float:right;">Search</button>
                </form>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-12">
            <div class="panel panel-filled">
              <div class="panel-heading">Information</div>
              <div class="panel-body">
                <div class="table-responsive">

                  <table style="white-space: nowrap;" class="table">
                    <thead>
                      <tr>
                        {{reportPage[tableHead]}}
                      </tr>
                    </thead>
                    <tbody>
                      {{report[]}}
                    </tbody>
                  </table>

                  <div class="col-sm-6" style="{{reportPage[showPaginate]}}">
                    <div class="dataTables_paginate paging_simple_numbers">
                      <ul class=pagination>
                        <li class="paginate_button previous">
                          <a href="?page={{page[-]}}{{searchQuery[]}}">Previous</a>
                        </li>
                        <li class="paginate_button active">
                          <a href="?page={{page[]}}{{searchQuery[]}}">{{page[]}}</a>
                        </li>
                        <li class="paginate_button next">
                          <a href="?page={{page[+]}}{{searchQuery[]}}">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <script type="text/javascript">
    var csrf = "{{csrf[true]}}";
  </script>
</div>
