<div class="wrapper">

  {{menu}}

  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="view-header">
              <div class="header-icon"><i class="fa fa-fire"> </i></div>
              <div class="header-title">
                <h3 class="m-b-xs">All reports</h3>
                <small>View latests reports and get more information about a report</small>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-12"><div id="alert"></div></div>

          {{report[]}}

        </div>

      </div>
  </section>
</div>
