<div class="wrapper">

  {{menu}}

  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="view-header">
              <div class="header-title">
                <h3 class="m-b-xs">Search</h3>
                <small>Search reports with IP, ID or domain</small>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="panel panel-filled">
              <div class="panel-heading">Search on IP</div>
              <div class="panel-body">
                <form method="get" action="reports">
                  <div class="form-group">
                    <label class="control-label" for="search">IP</label>
                    <input type="text" name="search" class="form-control">
                  </div>
                  <button type="submit" class="btn">Search</button>
                </form>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="panel panel-filled">
              <div class="panel-heading">Search on ID</div>
              <div class="panel-body">
                <form method="get" action="reports">
                  <div class="form-group">
                    <label class="control-label" for="search">ID</label>
                    <input type="text" name="search" class="form-control">
                  </div>
                  <button type="submit" class="btn">Search</button>
                </form>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="panel panel-filled">
              <div class="panel-heading">Search on domain</div>
              <div class="panel-body">
                <form method="get" action="reports">
                  <div class="form-group">
                    <label class="control-label" for="search">Domain</label>
                    <input type="text" name="search" class="form-control">
                  </div>
                  <button type="submit" class="btn">Search</button>
                </form>
              </div>
            </div>
          </div>

        </div>

      </div>
  </section>
</div>
