<section id="content">
    <div class="container-fluid full-size">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div class="panel panel-filled panel-size">
                    <div class="panel-heading text-center">
                        ezXSS
                    </div>
                    <div class="panel-body text-center">
                        <form class="form" id="mfa" method="post">
                            {message}
                            <input type=hidden hidden name="csrf" value="{session[csrfToken]}">
                            <div class="form-group">
                                <label class="control-label" for="code">MFA code</label>
                                <input class="form-control" id="code" name="code" type="text" autocomplete="off">
                            </div>
                            <button type="submit" class="btn btn-block">Verify</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>