<section id="content">
    <center>
        <h1>ezXSS</h1>
    </center>
    <div class="login">
        <form class="form" id="login" method="post">
            {message}
            <input type=hidden hidden name="csrf" value="{session[csrfToken]}">
            <div class="form-group">
                <label class="control-label" for="code">MFA code</label>
                <input class="form-control" id="code" name="code" type="text" autocomplete="off">
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</section>