<!--    :..........................................................................................................................:        
       .:                                                                                                                          :.       
...... .^..........................................................................................................................^. ......
^.     .:                                                                                                                          :.     .^
^      .:                                                     ...         ....      .........           ........                   :.      ^
^      .:                                                    :^^^^.      .^^^^.    .^^:::::^^.         :^^:::::^^.                 :.      ^
^      .:                                                    .::^^^^.  :^^^^::   :^^^:     ::::.     ^^^^.     ::::.               :.      ^
^      .:               :^^:::::::^^.    .:::::::^^^^^^^::.     ::^^^^^^^^::     :^^^:               ::^^.                         :.      ^
^      .:             ^^^^.       :^^^:          ^^^^^^^          :^^^^^^.         .^^::::::::^.       :^^::::::::^.               :.      ^
^      .:             ^^^^^:::::::^^^^:       .::^^^^:          ::^^^^^^^^::                 :^^::               :^^::             :.      ^
^      .:             ^^^^.                 .::^^^^.         .::^^^^.  :^^^^::   .:::.       .^^^^   ::::.       :^^^^             :.      ^
^      .:             ..^^:.........      .:^^^^^^^:.......  :^^^^..    ..^^^^.   .:~^.......:^:.    ..:^:.......^^:               :.      ^
^      .:               ............      ................    ....        ....      ...........         ...........                :.      ^
^      .:                                                                                                                          :.      ^
^      .:            :^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^:            :.      ^
^      .^. ........  :^^^^^^^^^^^: .^^^^^^^: .^^^^^^^. :^^^^^^^. :^^^^^^: .^^^^^^^: .^^^^^^^. :^^^^^^^. :^^^^^^^^^^^^^:  ........ .^.      ^   <--------------------
^                    :^^^^^^^^^^^:..^^^^^^^:.:^^^^^^^:.:^^^^^^^..:^^^^^^:..^^^^^^^:.:^^^^^^^:.:^^^^^^^..^^^^^^^^^^^^^^:                    ^   ezXSS v{version[]}
^                    :^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^.                    ^   github.com/ssl/ezXSS
^                                                                                                                                          ^   
^                                                                                                                                          ^   made with <3
:..........................................................................................................................................:   -------------------->
<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="utf-8">
    <title>{title[]}</title>
    <link rel="stylesheet" href="/assets/css/classic.css?v={version[]}">
    {theme}
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script type="text/javascript" nonce="csrf">const csrf = "{session[csrfToken]}";</script>
    <script src="/assets/js/jquery.js?v={version[]}" charset="utf-8"></script>
    <script src="/assets/js/bootstrap.js?v={version[]}" charset="utf-8"></script>
    <script src="/assets/js/ezxss4.js?v={version[]}" charset="utf-8"></script>
</head>

<body class="theme">