<section id="content">
    <center>
        <h1>Update</h1>
        <br>
        {message}
        <div class="login">
            <form class="form" id="update" method="post">
                <input type=hidden hidden name="csrf" value="{session[csrfToken]}">
                <b class="transparent">Thanks for using ezXSS.</b><br><br>
                You've updated your setup to {version[]}. Click the
                button below to update your database.<br><br>
                This update moves some big storage columns from the reports table to a new table.<br>
                Moving data can take a while, depending on your table size. If the table size is
                multiple gigabytes, your server might be unresponsive for some time. Do not reboot.<br><br>
                <b>{%data tablesize}</b><br>
                <b>{%data disksize}</b><br><br>
                <button class="btn">Update</button>
            </form>
        </div><br>
        <p>Visit the <a href="https://github.com/ssl/ezXSS/wiki">wiki</a> for more information.</p>
    </center>
</section>