<div class="wrapper">

    {menu}

    <section class="content {%!if isLoggedIn}no-left{%/!if}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-title">
                            <h3 class="m-b-xs">Session requests</h3>
                            <small>This page holds all the information like URL, cookies, HTML DOM and more of a single
                                request.
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            {message}

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-filled">
                        <div class="panel-heading">Request</div>
                        <div class="panel-body">
                            <div>
                                <table class="table report">
                                    <thead>
                                        <tr>
                                            <td width=150px>URL</td>
                                            <td>{%data uri}</td>
                                        </tr>
                                        <tr>
                                            <td>IP</td>
                                            <td>{%data ip}</td>
                                        </tr>
                                        <tr>
                                            <td>Referer</td>
                                            <td>{%data referer}</td>
                                        </tr>
                                        <tr>
                                            <td>User Agent</td>
                                            <td>{%data user-agent}</td>
                                        </tr>
                                        <tr>
                                            <td>Cookies</td>
                                            <td class="request-box"><textarea spellcheck=false class="form-control"
                                                    rows="4" id="cookies">{%data cookies}</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Local Storage</td>
                                            <td class="request-box"><textarea spellcheck=false class="form-control"
                                                    rows="4" id="localstorage">{%data localstorage}</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Session Storage</td>
                                            <td class="request-box"><textarea spellcheck=false class="form-control"
                                                    rows="4" id="sessionstorage">{%data sessionstorage}</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>DOM</td>
                                            <td class="request-box"><textarea spellcheck=false class="form-control"
                                                    rows="12.5" id="dom">{%data dom}</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Time</td>
                                            <td>{%data time}</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>